h1{
color: blue;
text-align: center;
}
h2 {
font-style: italic;
text-align: center;
color: teal;
}
p {
color: black;
}
body {
background-color: #f3eead;
}
img{
  width: 300px;
  margin: auto;
  padding: 100px;
}
